<div class="diagram-mechanical_container">
  <div>
    <p class="diagram__mechanical_name">Torque characteristic:</p>
    <canvas #torqueDiagram width="500" height="300" class="diagram_torque_diagram">
    </canvas>
  </div>
  <div>
    <p class="diagram__mechanical_name">Revolutions characteristic:</p>
    <canvas #revolutionsDiagram width="500" height="300" class="diagram_torque_diagram">
    </canvas>
  </div>
</div>
