@import url('https://fonts.googleapis.com/css?family=Roboto');
.main__body {
  font-family: 'Roboto', sans-serif;
  background-image: url('./OF18OA0.jpg');
  background-size: 1500px 1500px;
  background-repeat: repeat;
  background-position: center;
  color: #000;
}
.main__footer{
  position: absolute;
  top: 685px;
  display: flex;
  width: 100%;
  min-width: 1100px;
  padding-top: 16px;
  padding-left: 60px;
  padding-right: 60px;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  font-size: 22px;
  /*background-color: yellow;*/
  text-align: center;
  box-sizing: border-box;
}
.main__footer_and {
  font-size: 24px;
  color: rgb(93,95,100);
}
