<div class="data__container">
  <div class="data__container_values">
    <p class="data__description">Period number (counter):</p>
    <p class="data__value">{{ counter }}</p>
  </div>
  <div class="data__container_values">
    <p class="data__description">Max moment:</p>
    <p class="data__value">{{ maxMoment }}</p>
  </div>
  <div class="data__container_values">
    <p class="data__description">Frequence:</p>
    <p class="data__value">{{ frequence }}</p>
  </div>
  <div class="data__container_values">
    <p class="data__description">Revolutions:</p>
    <p class="data__value">{{ revolutions }}</p>
  </div>
</div>
<div class="data__table">
  <p class="data__table_row">
    <span class="data__table_cell">vector pos.(grad)</span>
    <span class="data__table_cell">Ures(V)</span>
    <span class="data__table_cell">Ua(V)</span>
    <span class="data__table_cell">Ub(V)</span>
    <span class="data__table_cell">Uc(V)</span>
    <span class="data__table_cell">t1/T</span>
    <span class="data__table_cell">t2/T</span>
    <span class="data__table_cell">t3/T</span>
  </p>
  <div class="data__table_container">
  <p class="data__table_row" *ngFor="let VectorRotationData of vectorRotations">
    <span class="data__table_cell">{{VectorRotationData.id}}</span>
    <span class="data__table_cell">{{VectorRotationData.u1}}</span>
    <span class="data__table_cell">{{VectorRotationData.ua}}</span>
    <span class="data__table_cell">{{VectorRotationData.ub}}</span>
    <span class="data__table_cell">{{VectorRotationData.uc}}</span>
    <span class="data__table_cell">{{VectorRotationData.t1}}</span>
    <span class="data__table_cell">{{VectorRotationData.t2}}</span>
    <span class="data__table_cell">{{VectorRotationData.t3}}</span>
  </p>
  </div>
</div>
