.data__container {
  margin-bottom: 15px;
  background-color: cyan;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(230, 230, 230);
}
.data__container_values {
  width: 23%;
  padding: 5px;
  /*text-align: center;*/
  box-shadow: 0px 0px 10px rgb(0,0,0);
}
.data__description {
  margin-bottom: 10px;
  font-size: 22px;
  text-align: center;
}
.data__value {
  /*width: 80%;*/
  text-align: center;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.data__table_container {
  padding: 5px;
  height: 470px;
  overflow: scroll;
  box-sizing: border-box;
  /*background-color: red;*/
}
.data__table_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.data__table_cell {
  display: block;
  width: 125px;
  padding: 3px;
  margin-bottom: 5px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px rgb(0,0,0);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1350px) {
  .data__table, .data__container {
    margin-left: 20px;
  }
}
