.diagram__container {
  margin-bottom: 15px;
}
.diagram__container_controls {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
  justify-content: space-around;
}
.diagram__contol {
  display: block;
  height: 60px;
  width: 25%;
  padding-top: 16px;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: rgb(206, 207, 212);
  border: 2px solid rgb(93,95,100);
  color: #000;
  box-shadow: 0px 0px 10px rgb(0,0,0);
  box-sizing: border-box;
}
.diagram__contol:hover {
  background-color: rgb(220, 220, 220);
}
.diagram__contol:active {
  background-color: rgb(230, 230, 230);
}
