<div class="diagram__container">
  <div class="diagram__container_controls">
    <a class="diagram__contol" [routerLink]="['diagram-electrical']">Electrical</a>
    <a class="diagram__contol" [routerLink]="['diagram-mechanical']">Mechanical</a>
  </div>
  <router-outlet></router-outlet>
</div>
