.introduction__container {
  padding-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 32px;
  line-height: 1.3;
  text-align: center;
  background-color: none;
  text-shadow: 0px 0px 10px rgb(0,0,0);;
}
