.diagram-electrical_container {
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-around;
}
.diagram_voltage_diagram {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 0;
  border: 2px solid rgb(93,95,100);
  box-shadow: 0px 0px 10px rgb(0,0,0);
  background-color: rgb(220, 220, 220);
}
.diagram__electrical_name {
  width: 60%;
  padding: 5px;
  font-size: 24px;
  background-color: rgb(220, 220, 220);
  margin-bottom: 20px;
  border: 2px solid rgb(93,95,100);
  box-shadow: 0px 0px 10px rgb(0,0,0);
  text-align: center;
}
