<div class="diagram-electrical_container">
  <div>
    <p class="diagram__electrical_name">Voltage characteristic:</p>
    <canvas #voltageDiagram width="500" height="300" class="diagram_voltage_diagram">
    </canvas>
  </div>
  <div>
    <p class="diagram__electrical_name">Frequence characteristic:</p>
    <canvas #frequenceDiagram width="500" height="300" class="diagram_voltage_diagram">
    </canvas>
  </div>
</div>
