/*ALERTS*/
.app__alert{
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  padding: 10px;
  background-color: rgb(206, 207, 212);
  border: 2px solid rgb(93,95,100);
  color: #000;
  box-shadow: 0px 0px 10px rgb(0,0,0);
}
.app__alert_content {
  max-height: 100px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 1.3;
  background-color: rgb(230, 230, 230);
  overflow: hidden;
  text-overflow: ellipsis;
}
.app__alert_btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 40px;
  width: 70px;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(206, 207, 212);
  border: 2px solid rgb(93,95,100);
  color: #000;
  outline: none;
}
.app__alert_btn:hover {
  background-color: rgb(220, 220, 220);
}
.app__alert_btn:active{
  background-color: rgb(230, 230, 230);
}
.app__alert-responce {
  position: absolute;
  top: 250px;
  left: 60px;
  width: 400px;
  height: 200px;
  background: white;
  border: 2px solid black;
}
/*END ALERTS*/
/*TITLE*/
.pwm__title {
  height: 60px;
  min-width: 1100px;
  margin-bottom: 26px;
  padding-top: 12px;
  text-align: center;
  font-size: 36px;
  /*background-color: yellow;*/
  box-sizing: border-box;
}
.pwm__menu_main_btn {
  position: absolute;
  height: 45px;
  width: 130px;
  top: 5px;
  left: 20px;
  text-transform: uppercase;
  font-size: 22px;
  font-family: inherit;
  font-style: italic;
  background-color: rgb(206, 207, 212);
  border: 2px solid rgb(93,95,100);
  color: #000;
  box-shadow: 0px 0px 10px rgb(0,0,0);
  outline: none;
}
.pwm__menu_main_btn:hover {
  background-color: rgb(220, 220, 220);
}
.pwm__menu_main_btn:active {
  background-color: rgb(230, 230, 230);
}
/*TITLE*/
/*CONTAINER*/
.pwm__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*END CONTAINER*/
/*MAIN MENU*/
.pwm__menu {
  display: none;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  /*height: 600px;*/
  flex-direction: column;
  /*background-color: orange;*/
}
.pwm__menu-short {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  height: 600px;
  flex-direction: column;
}
.pwm__menu__common_controls {
  display: block;
  margin-bottom: 26px;
  height: 60px;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(206, 207, 212);
  border: 2px solid rgb(93,95,100);
  color: #000;
  box-shadow: 0px 0px 10px rgb(0,0,0);
  outline: none;
}
.pwm__menu__common_controls:hover {
  background-color: rgb(220, 220, 220);
}
.pwm__menu__common_controls:active {
  background-color: rgb(230, 230, 230);
}
.pwm__menu_link {
  padding-top: 16px;
  cursor: default;
  pointer-events: auto;
  color: default;
  text-decoration: none;
  box-sizing: border-box;
}
.pwm__menu_link-disabled {
  padding-top: 16px;
  pointer-events: none;
  cursor: default;
  color: #fff;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(93,95,100);
}
.pwm__menu_btn {
  font-family: inherit;
}
.pwm__outlet {
  min-width: 1100px;
  margin-right: 20px;
  flex: 1 0;
}
@media (min-width: 1350px) {
  .pwm__menu {
    display: flex;
  }
  .pwm__menu_main_btn {
    display: none;
  }
}
