/*CONTROL ALERTS*/
.control__alert {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  padding: 10px;
  background-color: rgb(206, 207, 212);
  border: 2px solid rgb(93,95,100);
  color: #000;
  box-shadow: 0px 0px 10px rgb(0,0,0);
}
.control__alert_content {
  max-height: 100px;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  line-height: 1.3;
  background-color: rgb(230, 230, 230);
  overflow: hidden;
  text-overflow: ellipsis;
}
.control__alert_btn {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  height: 40px;
  width: 70px;
  font-size: 24px;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(206, 207, 212);
  border: 2px solid rgb(93,95,100);
  color: #000;
  outline: none;
}
.control__alert_btn:hover {
  background-color: rgb(220, 220, 220);
}
.control__alert_btn:active {
  background-color: rgb(230, 230, 230);
}
/*END CONTROL ALERTS*/
/*CONTAINERS*/
.control__container {
  display: flex;
  padding-top: 50px;
  flex-direction: row;
  justify-content: space-around;
  /*background-color: green;*/
}
.control__container_half {

}
.control__container_values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background-color: cyan;*/
  font-size: 24px;
  margin-bottom: 50px;
}
.control__values_description {
  padding: 5px;
  margin-right: 20px;
  line-height: 1.3;
  background-color: rgb(220, 220, 220);
  box-shadow: 0px 0px 10px rgb(0,0,0);
}
/*END CONTAINERS*/
/*CONTROLS*/
.control__input {
  display: block;
  height: 30px;
  font-size: inherit;
  font-family: inherit;
  text-align: right;
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(93,95,100);
  box-shadow: 0px 0px 10px rgb(0,0,0);
  outline: none;
}
.control__input:hover {
  background-color:#fff;
}
.control__input:focus {
  background-color:#fff;
}
.control__input-wrong {
  background-color: red;
}
.control__select {
  display: block;
  height: 40px;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 0px 0px 10px rgb(0,0,0);
}
.control__button {
  display: block;
  height: 60px;
  width: 50%;
  margin: 0 auto;
  font-size: 24px;
  font-family: inherit;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(206, 207, 212);
  border: 2px solid rgb(93,95,100);
  color: #000;
  box-shadow: 0px 0px 10px rgb(0,0,0);
  outline: none;
}
.control__button:hover {
  background-color: rgb(220, 220, 220);
}
.control__button:active {
  background-color: rgb(230, 230, 230);
}
/*END CONTROLS*/
