<div class="control__container">
  <div class="control__container_half">
    <div class="control__container_values">
      <p class="control__values_description">Direct voltage:</p>
      <input class="control__input" name = "controlMaxVoltage" (blur)="validateData($event)" (click)="resetInputStyle($event)" [(ngModel)]="controlMaxVoltage" type="text" size="10">
    </div>
    <div class="control__container_values">
      <p class="control__values_description">Maximal consumer volage:</p>
      <input class="control__input" name = "controlVoltage" (blur)="validateData($event)" (click)="resetInputStyle($event)" [(ngModel)]="controlVoltage" type="text" size="10">
    </div>
    <div class="control__container_values">
      <p class="control__values_description">Consumer volage deflection <br>(in percent):</p>
      <input class="control__input" name = "controlVoltageDeflection" (blur)="validateData($event)" (click)="resetInputStyle($event)" [(ngModel)]="controlVoltageDeflection" type="text" size="10">
    </div>
    <div class="control__container_values">
      <p class="control__values_description">Voltage deflection change <br>delta per period(percent):</p>
      <input class="control__input" name = "controlDeflectionChange" (blur)="validateData($event)" (click)="resetInputStyle($event)" [(ngModel)]="controlDeflectionChange" type="text" size="10">
    </div>
    <div class="control__container_values">
      <p class="control__values_description">Nominal current frequence:</p>
      <select class="control__select" [(ngModel)]="controlNominalFrequence">
        <option>50</option>
        <option>60</option>
      </select>
    </div>
  </div>
  <div class="control__container_half">
    <div class="control__container_values">
      <p class="control__values_description">Maximal revolutions per minute:</p>
      <input class="control__input" name = "controlRevolutions" (blur)="validateData($event)" (click)="resetInputStyle($event)" [(ngModel)]="controlRevolutions" type="text" size="10">
    </div>
    <div class="control__container_values">
      <p class="control__values_description">Revolutions change delta <br>per period:</p>
      <input class="control__input" name = "controlRevolutionsChange" (blur)="validateData($event)" (click)="resetInputStyle($event)" [(ngModel)]="controlRevolutionsChange" type="text" size="10">
    </div>
    <div class="control__container_values">
      <p class="control__values_description">Count of poles pairs:</p>
      <select class="control__select" [(ngModel)]="controlPolesPairCount">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
      </select>
    </div>
    <div class="control__container_values">
      <p class="control__values_description">Calculation precision <br>(by angle):</p>
      <select class="control__select" [(ngModel)]="controlCalcPrecision">
        <option>5</option>
        <option>10</option>
      </select>
    </div>
    <button class="control__button" (click)="confirmBtn()">Confirm</button>
  </div>
  <div *ngIf="controlAlertMessage" class="control__alert">
    <p class="control__alert_content">{{ controlAlertMessage }}</p>
    <button (click)="controlAlertBtn()" class="control__alert_btn">OK</button>
  </div>
</div>
